{% extends './layout/layout.html' %}
{% block body %}

<div class= "contenedor">
  <h1>TwitterScraper</h1>
  <form action="{{ url_for('ver_data') }}" method="POST" target="_blank">
  
    <label for="">Consulta:</label>
    <input class = "text-input" type="text" placeholder="Colombia min_faves:1 until:2023-01-01 since:2022-01-01" id="consulta" name="consulta" required >
    <br>
    <br>
    <label for="">Cantidad:</label>
    <input class = "text-input2" type="number" placeholder="10" id="cantidad" name="cantidad" required >
    <br>
    <br>
    <input class="button_enviar" type="submit" value="Ver Data">
  </form>
</div>
<br>
<div class= "contenedor">
<img src="{{url_for('static', filename='Animation.gif')}}" alt="Mi gif">
</div>
{% endblock %}